*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-green {
  --color-primary-50: 240 253 144;
  --color-primary-100: 220 252 231;
  --color-primary-200: 187 247 208;
  --color-primary-300: 134 239 172;
  --color-primary-400: 74 222 128;
  --color-primary-500: 34 197 94 --color-primary-600: 22 163 74;
  --color-primary-700: 21 128 61;
  --color-primary-800: 22 101 52;
  --color-primary-900: 20 83 45;
}

.theme-blue {
  --color-primary-50: 239 246 255;
  --color-primary-100: 219 234 254;
  --color-primary-200: 191 219 254;
  --color-primary-300: 96 165 250;
  --color-primary-400: 59 130 246;
  --color-primary-500: 37 99 235;
  --color-primary-600: 29 78 216;
  --color-primary-700: 30 64 175;
  --color-primary-800: 30 58 138;
  --color-primary-900: 30 53 105;
}

.theme-red {
  --color-primary-50: 254 242 242;
  --color-primary-100: 254 226 226;
  --color-primary-200: 254 202 202;
  --color-primary-300: 252 165 165;
  --color-primary-400: 248 113 113;
  --color-primary-500: 239 68 68;
  --color-primary-600: 220 38 38;
  --color-primary-700: 185 28 28;
  --color-primary-800: 153 27 27;
  --color-primary-900: 127 29 29;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --color-primary-50: 239 246 255;
  --color-primary-100: 219 234 254;
  --color-primary-200: 191 219 254;
  --color-primary-300: 96 165 250;
  --color-primary-400: 59 130 246;
  --color-primary-500: 37 99 235;
  --color-primary-600: 29 78 216;
  --color-primary-700: 30 64 175;
  --color-primary-800: 30 58 138;
  --color-primary-900: 30 53 105;
  --color-back-50: #fafafa;
  --color-back-100: #f4f4f5;
  --color-back-200: #e4e4e7;
  --color-back-300: #d4d4d8;
  --color-back-400: #a1a1aa;
  --color-back-500: #71717a;
  --color-back-600: #52525b;
  --color-back-700: #3f3f46;
  --color-back-800: #27272a;
  --color-back-900: #18181b;
}

:root {
  --ifm-color-scheme: dark;
  --ifm-color-primary: rgb(var(--color-primary-300));
  --ifm-background-color: #0f172a;
  --ifm-background-surface-color: #0f172a;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  /* --ifm-breadcrumb-separator: #fca5a5; */
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: #f8fafc;
  --ifm-heading-color: #f8fafc;
  --ifm-navbar-background-color: #0f172a;
  --ifm-footer-background-color: #0f172a;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-scheme: dark;
  --ifm-color-primary: rgb(var(--color-primary-300));
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-navbar-background-color: #0f172a;
  --ifm-footer-background-color: #0f172a;
  --ifm-background-color: #0f172a;
  --ifm-background-surface-color: #0f172a;

  --ifm-footer-background-color: #0f172a;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  --ifm-footer-background-color: #0f172a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}
